<% include ../partials/header %>

<div>
	<div>
		<h1 class= "styleHeader">Movie List:</h1>
		<table>
			<tr>
				<% if (query == null){ %>
					<% if (searchType == 'genre'){ %>
						<td><label>Find By Genre:</label></td>
						<td>
							<form action="/movieSearch/genre" method="POST">
								<select name="genreDropdown">
									<option value="nothing">----</option>
									<% availableGenres.forEach(function(genre, index){ %>
										<option value="<%= '' + genre.id + '-' + genre.name %>"> <%= genre.name %> </option>
									<% }); %>
								</select>
								<input class="button_input" type="submit" value="Search">
							</form>
						</td>
					<% } else if (searchType == 'rating'){ %>
						<td><label>Find By Rating:</label></td>
						<td>
							<select>
								<option value="">----</option>
								<option value="">Highest First</option>
								<option value="">Lowest First</option>
							</select>
						</td>
					<% } else if (searchType == 'year') { %>
						<td><label>Find By Year:</label></td>
						<td>
							<form action="/movieSearch/year" method="POST">
								<select name="yearDropdown">
									<option value="">----</option>
									<% for(var i = 2018; i >= 1900; i--){ %>
										<option value="<%= i %>"> <%= i %> </option>
									<% } %>
								</select>
								<input class="button_input" type="submit" value="Search">
							</form>
						</td>
					<% } else{ }%>
				<% } else{ %>
					<tr>
						<td><label> Searched For: <%= query %> </label></td>
						<td><label> Found <%= totalResults %> results.</label> </td>
					</tr>
				<% } %>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</table>
		<% if(results != null){ %>
			<div class="grid-container">
				<% results.forEach(function(movie, index){ %>
					<div class="grid-item">
						<figure>
						  	<a href = "/selectedMovie/:<%= movie.id %>">
						  		<img src="<%= 'https://image.tmdb.org/t/p/w185_and_h278_bestv2/'+ movie.poster_path %>"
                            		alt= "<%= movie.title %>" width = 125px; height = 175px;/>
                          	</a>
						  	<figcaption>
						  		<label>
						  			<a href = "/selectedMovie/:<%= movie.id %>"><%= movie.title %></a>
						  		</label>
							</figcaption>
						</figure> 
					</div>
				<% }); %> 
			</div>
			<div class="pagination">
				<a href="#">&laquo;</a>
				<a href="#">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">&raquo;</a>
			</div>
		<% } else{ %>
			<p> No search results found. </p>
		<% } %>
	</div>
</div>
<% include ../partials/footer %>